       body{
        background: linear-gradient(100deg, rgba(248, 142, 3, 0.63),rgba(0, 94, 128, 0.563), rgba(255, 140, 0, 0.601));
       }
       .main-content{
        display: grid;
        /* grid-template-columns: auto auto auto; */
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 10px;
        margin:  10px 0;
        width: 100%;
        gap: 15px;
       }

       section{
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.518);
        padding: 10px;
        background: linear-gradient(110deg, rgb(14, 153, 65),rgb(0, 94, 128), rgb(0, 255, 136));
       }

       .drop-down-content{
        display: none;
       }

       .content{
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 0.184);
        border-radius: 10px;
        padding: 8px;
       }

       
       .content>div>h1{
        margin-top: 0px;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: underline;
       }

       .note{
        background-color: rgba(255, 255, 255, 0.184);
        padding: 5px;
        border-radius: 10px;
       }
       .note>h1{
        margin: 0;
       }
       .note>ul{
        margin-bottom: 0;
       }
       
       .content>div>ul{
        list-style-type: none;
        padding: 5px;
        text-align: justify;
        font-size: 18px;        
       }

       .drop-down-button{
        max-height: 50px;
        margin-top: 5px;
       }

       .drop-down-button>button{
        display: flex;
        width: 100%;
        justify-content:end;
        max-height: inherit;
        cursor: pointer;
        border-radius: 6px;
        /* used chat gpt here */
        background: linear-gradient(to left, rgb(0, 94, 128),#43cea294, rgb(0, 94, 128));
        background-size: 200% 200%;  /* make it larger than the button */
        /* background-position: left center; */
        transition: background-position 0.5s ease; /* smooth shift */
       }

       .drop-down-button h3{
        text-align: center;
        flex: 1;
        margin: auto;
       } 

       .drop-down-button>button>img{
        max-height: inherit;
        transition-duration: 1.5s;
       }

       .open .drop-down-button > button > img {
        transform: rotate(180deg);
       }

       .open .drop-down-content {
        display: block;
       }

       
       section.open {
        grid-column: 1 / -1;  
       }

       .initial-p{
        display: none;
        padding: 0;
        margin: 0;
        align-items: baseline;
       }

       .open .initial-p{
        display: block;
       }

       .open .after-drop-down-p{
        display: none;
       }

        heading{
            display: grid;
            grid-template-rows: auto auto auto;
        }   
        heading>h1{
            text-align:center;
            margin-bottom:0px;
            padding-bottom:0px;
        }
        heading>.img{
            grid-row-start:3;
            grid-row-end:4;
            max-width:100%;
            max-height:100%;
            padding: 0;
        }
        heading>div>img{
           width: 100%;
           border-radius: 10px;
        }
        .h-p{
            text-align:center;
            padding-bottom: 0px ;
            padding-left: 10px;
            margin-bottom: 0px;
        }
 
       .open heading{
        display: grid;
        grid-template-columns: auto auto;
       }   
 
       .open heading>h1{
        grid-column-start:1;
        grid-column-end:2;
        text-align:center;
        font-size: clamp(10px, 5vw, 80px);
        margin: 0;
        padding: 10px 5px;
       }

       .open heading>.img{
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:3;
        max-height: 250px;
        display: flex;
        justify-content: flex-end;
       }

       .open heading>div>img{
        max-height: inherit;
        max-width: inherit;
       }

       .open .h-p>p{
        text-align:left;
        align-items: baseline;
        font-size: clamp(10px, 2vw, 20px);
        padding-top: 12vh;
       }


       /* header and footer design  */
       .header{
        text-align: center;
        background: radial-gradient(ellipse, rgba(105, 232, 152, 0.574), rgba(105, 207, 142, 0.841),rgb(14, 153, 65));
        border-radius: 10px;
        padding: 5px;
        font-family: 'Algerian';
        font-size: clamp(18px, 5vw, 50px);
        text-shadow: 2px 2px 10px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.518);
       }
       .footer{
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: beige; */
        margin-top: 5px;
        border-radius: 10px;
        padding: 0;
        background: radial-gradient(ellipse, rgb(245, 245, 172),rgb(239, 239, 171),beige);
       }
       .f-content{
        text-align: center;
        display: flex;
        justify-content: center;
        text-shadow: 2px 1px 10px;
       }
       .f-link{
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
       }
       .f-link>ul{
        list-style-type: none;
        display: flex;
       }
       .f-link>ul>li>a{
        text-decoration: none;
        padding: 8px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.518);
        border-radius: 20px 5px;
        background-color:cadetblue;
        margin: 8px;
        color: black;
        text-shadow: 2px 1px 10px;
        font-size: clamp(10px, 2vw, 16px);
       }
       


        /* Mobile (up to 600px) */
        @media (max-width: 600px) {
            .main-content {
                grid-template-columns: auto;
            }

            .drop-down-button h3 {
                font-size: 16px;
            } 

            .content {
            flex-direction: column;
            }

            .footer{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
            }
            .f-content{
                text-align: center;
                text-shadow: 2px 1px 10px;
            }
            .f-link{
                margin-top: 5px;
                justify-content: center;
                margin-top: 0;
            }
            .f-link>ul{
                padding: 0;
                margin-top: 0;
            }
        }

        /* Tablet (601px – 1024px) */
        @media (min-width: 601px) and (max-width: 1024px) {
            .main-content {
                grid-template-columns: auto auto;
            }

            .drop-down-button h3 {
                font-size: 18px;
            }
            .open heading>div>img{
                max-width: 40vw;
            }

            .drop-down-button>button:hover{
                /* used chat gpt here */
                background-position: right center;  /* shift gradient */
            }
        }

        /* for normal laptop */
        @media (min-width: 1024px) and (max-width:1920px){
            heading>div>img{
                width: 100%;
                border-radius: 10px;
                height: 34vh;
            }
            .open heading>div>img{
                max-width: 30vw;
            }

            .drop-down-button>button:hover{
                /* used chat gpt here */
                background-position: right center;  /* shift gradient */
            }
        }

        /* for laptop with 2k screen */
        @media (min-width: 1920px){
            heading>div>img{
                width: 100%;
                border-radius: 10px;
                height: 40vh;
            }
            .open heading>div>img{
                max-width: 30vw;
            }
            .drop-down-button>button:hover{
                /* used chat gpt here */
            background-position: right center;  /* shift gradient */
            }
        }






/* new learned css */
/* font-size: clamp(min, preffered, max);
font-size: clamp(10px, 2vw, 60px); */
